.Debugger {
    flex: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 12px; 
    max-width: 280px; 
    background: #f8f8f8;
    border-radius: 6px; /* más pequeño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 2px solid #688288;
    margin-top: 2rem; 
}


.Debugger h2 {
    display: block;
    width: fit-content;
    margin: 8px auto; 
    font-size: 1.2rem; 
    color: #3a7b8b;
}

.control-buttons {
    display: flex;
    justify-content: center;
    gap: 0.3rem; /* más compacto */
    margin-top: 0.8rem; 
}

.control-buttons button {
    padding: 8px; /* más pequeño */
    background-color: #24b4fb;
    border: 2px solid #24b4fb;
    border: none;
    cursor: pointer;
    max-height: 30px; /* reducido */
    border-radius: 0.7em; /* más pequeño */
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-buttons button:hover {
    background-color: #2d95df;
}

.control-buttons svg {
    width: 20px; /* reducido */
    height: 20px; /* reducido */
}

#debugger-info {
    margin-top: 0.8rem; /* reducido */
    font-size: 0.9rem; /* más pequeño */
    color: #333;
}

#debugger-info p {
    margin: 0.4rem 0; /* reducido */
    border-radius: 6px; /* más pequeño */
    padding: 0.4rem; /* más pequeño */
    background: #ebeeee;
    color: #3a7b8b;
    font-weight: 400;
    border: 2px solid #688288;
}
